projet1

projet2\EdStatsCountry.csv
projet2\EdStatsCountry-Series.csv
projet2/.ipynb_checkpoints/
projet2/livrables_projet2.zip

projet3/en.openfoodfacts.org.products.csv
projet3/livrables_projet3.zip
projet3/p3_data.ft
projet3/p3_finaldata.csv
projet3/.ipynb_checkpoints/


projet4/.ipynb_checkpoints/
projet4/consignes/
projet4/data/
projet4/p4_data.ft
